
/* Background Containers */
.color-container1 {
    background: #FCEDD9;
    
}

.color-container2 {
    background: #FDD8E2;
    
}

.color-container3 {
    background: #d3d5d7;
    min-height: 400px
    
}
.color-container4 {
    background: #f6edcb;
}

.color-container5 {
    background: #b4c4ae;
}

.color-container6 {
    background: #808eb3;
}


/* Other */

.android-app-core-body span{
    color: #cf5c36;
}

.android-app-core-body li{
    margin-top: 25px;
    margin-bottom: 15px;
}


.project-ulist li {
    margin-top: 25px;
    margin-bottom: 15px;
}

.project-ulist span {
    color: #cf5c36;
}

.project-ulist a {
    text-decoration: none;
}

.android-app-main-ideas li {
    margin-top: 25px;
    margin-bottom: 15px;
}

.android-app-main-ideas span {
    color: black;
}


/* Contant Info */

.contact-info li {
    margin-top: 25px;
    margin-bottom: 15px;
}

.contact-info span {
    color: #050517;
}

.contact-info a {
    text-decoration: none;
}

/* Images */

.my-image {
    margin-top: 25px;
    float:left;
    max-width: 300px;
}

.compiler-image {
    max-width: 500px
}